.flash-box
  .Wrapper
    .Chat-side
      .Side-header
        .Side-header__box
          %p.Side-header__box__user-name
            = current_user.name
          %ul.Side-header__box__menu
            %li.Side-header__box__menu__new-group
              = link_to new_group_path do
                = fa_icon 'edit', class: 'icon'
            %li.Side-header__box__menu__edit-user
              = link_to edit_user_path(current_user) do
                = fa_icon 'cog', class: 'icon'
      .Groups
        .Group
          - current_user.groups.each do |group|
            = link_to group_messages_path(group) do
              .group__name
                = group.name
              .group__message
                = group.show_last_message
    .Chat-main
      .Main-header
        .Main-header__left-box
          %h2.Main-header__left-box__current-group{:deta_group_id => ""}
          = @group.name
          %ul.Main-header__left-box__member-list 
            Members : 
            %ul.members
              - @group.users.each do |user|
                %li.user.name 
                  = user.name
                  
        

        %a{:herf => ""}
        =link_to edit_group_path(@group) do
          .Main-header__edit-btn Edit
            
      .Messages
        =render @messages
        
          
      .Form
        = form_for [@group, @message] do |f|
          .Form__mask
            = f.text_field :content, class: 'Form__mask__message', placeholder: 'type a message'
            = f.label :image, class: 'Form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'Form__submit'
